.history/**
.idea/**
*.yaml
*.ioc
*.cpp
*.hpp
*.c
*.h
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp
*.swo

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

build/
dist/
*.egg-info/
pip-wheel-metadata/

venv/
.env/
.envrc
*.venv

MANIFEST
*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

.tox/
.cache/
.pytest_cache/

*.log
*.tmp
*.bak
*.lock

.DS_Store
Thumbs.db
