[submodule "protocol"]
	path = lib/protocol
	url = https://gitee.com/qsheeeeen/qdu-rm-protocol
[submodule "stm32_cmsis"]
	path = hw/mcu/st/cmsis_device_f4
	url = https://gitee.com/jiu-xiao/cmsis_device_f4.git
[submodule "stm32_hal"]
	path = hw/mcu/st/stm32f4xx_hal_driver
	url = https://gitee.com/jiu-xiao/stm32f4xx_hal_driver.git
[submodule "freertos"]
	path = lib/freertos
	url = https://gitee.com/jiu-xiao/FreeRTOS-Kernel.git
[submodule "arm_cmsis"]
	path = lib/cmsis_5
	url = https://gitee.com/jiu-xiao/CMSIS_5.git
[submodule "tinyusb"]
	path = lib/tinyusb
	url = https://gitee.com/jiu-xiao/tinyusb.git
[submodule "lib/one-message"]
	path = lib/one-message
	url = https://gitee.com/jiu-xiao/one-message.git
[submodule "lib/cmsis_svd"]
	path = lib/cmsis_svd
	url = https://gitee.com/jiu-xiao/cmsis-svd
[submodule "hw/mcu/st/stm32f1xx_hal_driver"]
	path = hw/mcu/st/stm32f1xx_hal_driver
	url = https://gitee.com/jiu-xiao/stm32f1xx_hal_driver.git
[submodule "hw/mcu/st/cmsis_device_f1"]
	path = hw/mcu/st/cmsis_device_f1
	url = https://gitee.com/jiu-xiao/cmsis_device_f1.git
[submodule "lib/Kconfiglib"]
	path = lib/Kconfiglib
	url = https://gitee.com/jiu-xiao/Kconfiglib.git
