CONFIG_auto_generated_config_prefix_board-atom=y
# CONFIG_auto_generated_config_prefix_system-Linux is not set
CONFIG_auto_generated_config_prefix_system-FreeRTOS=y
# CONFIG_auto_generated_config_prefix_system-Bootloader is not set
# CONFIG_auto_generated_config_prefix_system-None is not set
# CONFIG_auto_generated_config_prefix_system-Linux_Webots is not set
CONFIG_INIT_TASK_STACK_DEPTH=512

#
# FreeRTOS
#
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=256
CONFIG_FREERTOS_USB_TASK_STACK_DEPTH=256
CONFIG_FREERTOS_TERM_TASK_STACK_DEPTH=768
# end of FreeRTOS

# CONFIG_auto_generated_config_prefix_robot-canfd_to_uart is not set
# CONFIG_auto_generated_config_prefix_robot-drone_gimbal is not set
# CONFIG_auto_generated_config_prefix_robot-balance_infantry is not set
# CONFIG_auto_generated_config_prefix_robot-sim_balance is not set
CONFIG_auto_generated_config_prefix_robot-canfd_imu=y
# CONFIG_auto_generated_config_prefix_robot-ble_net_config is not set
# CONFIG_auto_generated_config_prefix_robot-bootloader is not set
# CONFIG_auto_generated_config_prefix_robot-uart_net_config is not set
# CONFIG_auto_generated_config_prefix_robot-udp_to_uart is not set
# CONFIG_auto_generated_config_prefix_robot-blink is not set
# CONFIG_auto_generated_config_prefix_robot-custom_ctrl is not set
# CONFIG_auto_generated_config_prefix_robot-custom_controller is not set
# CONFIG_auto_generated_config_prefix_robot-dart is not set
# CONFIG_auto_generated_config_prefix_robot-can_to_uart is not set
# CONFIG_auto_generated_config_prefix_robot-helm_infantry is not set
# CONFIG_auto_generated_config_prefix_robot-infantry is not set
# CONFIG_auto_generated_config_prefix_robot-hero is not set
# CONFIG_auto_generated_config_prefix_robot-omni_infantry is not set
# CONFIG_auto_generated_config_prefix_robot-arm_engineer is not set
# CONFIG_auto_generated_config_prefix_robot-wearlab_imu is not set
# CONFIG_auto_generated_config_prefix_robot-microswitch is not set
# CONFIG_auto_generated_config_prefix_robot-sim_mecanum is not set
# CONFIG_auto_generated_config_prefix_robot-sentry is not set

#
# 组件
#

#
# 设备
#
# CONFIG_auto_generated_config_prefix_device-simulator is not set
# CONFIG_auto_generated_config_prefix_device-mmc5603 is not set
# CONFIG_auto_generated_config_prefix_device-buzzer is not set
# CONFIG_auto_generated_config_prefix_device-cap is not set
CONFIG_auto_generated_config_prefix_device-icm42688=y
CONFIG_DEVICE_ICM42688_TASK_STACK_DEPTH=256
# CONFIG_auto_generated_config_prefix_device-can is not set
CONFIG_auto_generated_config_prefix_device-bmi088=y
CONFIG_DEVICE_BMI088_TASK_STACK_DEPTH=256
# CONFIG_auto_generated_config_prefix_device-ahrs-9 is not set
CONFIG_DEVICE_AHRS_TASK_STACK_DEPTH=256
# CONFIG_auto_generated_config_prefix_device-imu is not set
# CONFIG_auto_generated_config_prefix_device-servo is not set
# CONFIG_auto_generated_config_prefix_device-laser is not set
# CONFIG_auto_generated_config_prefix_device-motor is not set
# CONFIG_auto_generated_config_prefix_device-led_rgb is not set
# CONFIG_auto_generated_config_prefix_device-mech is not set
# CONFIG_auto_generated_config_prefix_device-spl06_001 is not set
# CONFIG_auto_generated_config_prefix_device-mt6701 is not set
# CONFIG_auto_generated_config_prefix_device-ai is not set
# CONFIG_auto_generated_config_prefix_device-custom_controller is not set
# CONFIG_auto_generated_config_prefix_device-referee is not set
# CONFIG_auto_generated_config_prefix_device-ina226 is not set
# CONFIG_auto_generated_config_prefix_device-net_config is not set
CONFIG_auto_generated_config_prefix_device-ahrs=y
CONFIG_auto_generated_config_prefix_device-canfd=y
# CONFIG_auto_generated_config_prefix_device-microswitch is not set
# CONFIG_auto_generated_config_prefix_device-tof is not set
# CONFIG_auto_generated_config_prefix_device-bq27220 is not set
# CONFIG_auto_generated_config_prefix_device-dr16 is not set
CONFIG_auto_generated_config_prefix_device-blink_led=y
# end of 设备

#
# 模块
#
# CONFIG_auto_generated_config_prefix_module-canfd_to_uart is not set
# CONFIG_auto_generated_config_prefix_module-launcher_drone is not set
# CONFIG_auto_generated_config_prefix_module-topic_share_uart is not set
# CONFIG_auto_generated_config_prefix_module-wheel_leg is not set
# CONFIG_auto_generated_config_prefix_module-engineer_chassis is not set
# CONFIG_auto_generated_config_prefix_module-uart_update is not set
# CONFIG_auto_generated_config_prefix_module-can_imu is not set
# CONFIG_auto_generated_config_prefix_module-balance is not set
# CONFIG_auto_generated_config_prefix_module-dart_gimbal is not set
CONFIG_auto_generated_config_prefix_module-canfd_imu=y
# CONFIG_auto_generated_config_prefix_module-ble_net_config is not set
# CONFIG_auto_generated_config_prefix_module-omni_gimbal is not set
# CONFIG_auto_generated_config_prefix_module-can_imu_wearlab is not set
# CONFIG_auto_generated_config_prefix_module-custom_controller is not set
# CONFIG_auto_generated_config_prefix_module-can_usart is not set
# CONFIG_auto_generated_config_prefix_module-robot_arm is not set
# CONFIG_auto_generated_config_prefix_module-helm_chassis is not set
# CONFIG_auto_generated_config_prefix_module-chassis is not set
# CONFIG_auto_generated_config_prefix_module-dart_launcher is not set
# CONFIG_auto_generated_config_prefix_module-gimbal is not set
# CONFIG_auto_generated_config_prefix_module-performance is not set
# CONFIG_auto_generated_config_prefix_module-microswitch is not set
# CONFIG_auto_generated_config_prefix_module-launcher is not set
# CONFIG_auto_generated_config_prefix_module-omni_chassis is not set
# end of 模块
