# CONFIG_auto_generated_config_prefix_board-esp32-c3-idf is not set
# CONFIG_auto_generated_config_prefix_board-mangopi_r818 is not set
# CONFIG_auto_generated_config_prefix_board-c-mini is not set
CONFIG_auto_generated_config_prefix_board-node_imu=y
# CONFIG_auto_generated_config_prefix_board-esp32-c3-arduino is not set
# CONFIG_auto_generated_config_prefix_board-f103_can is not set
# CONFIG_auto_generated_config_prefix_board-MiniPC is not set
# CONFIG_auto_generated_config_prefix_board-rm-c is not set
# CONFIG_auto_generated_config_prefix_board-microswitch is not set
# CONFIG_auto_generated_config_prefix_board-Webots is not set
# CONFIG_auto_generated_config_prefix_system-Linux_Webots is not set
CONFIG_auto_generated_config_prefix_system-FreeRTOS=y
# CONFIG_auto_generated_config_prefix_system-None is not set
# CONFIG_auto_generated_config_prefix_system-Linux is not set
CONFIG_INIT_TASK_STACK_DEPTH=1024

#
# FreeRTOS
#
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=256
CONFIG_FREERTOS_USB_TASK_STACK_DEPTH=256
CONFIG_FREERTOS_TERM_TASK_STACK_DEPTH=512
# end of FreeRTOS

# CONFIG_auto_generated_config_prefix_robot-udp_to_uart is not set
# CONFIG_auto_generated_config_prefix_robot-hero is not set
# CONFIG_auto_generated_config_prefix_robot-balance_infantry is not set
# CONFIG_auto_generated_config_prefix_robot-sentry is not set
# CONFIG_auto_generated_config_prefix_robot-uart_net_config is not set
# CONFIG_auto_generated_config_prefix_robot-dart is not set
# CONFIG_auto_generated_config_prefix_robot-ble_net_config is not set
# CONFIG_auto_generated_config_prefix_robot-can_to_uart is not set
# CONFIG_auto_generated_config_prefix_robot-custom_controller is not set
# CONFIG_auto_generated_config_prefix_robot-infantry is not set
# CONFIG_auto_generated_config_prefix_robot-sim_mecanum is not set
# CONFIG_auto_generated_config_prefix_robot-blink is not set
# CONFIG_auto_generated_config_prefix_robot-microswitch is not set
# CONFIG_auto_generated_config_prefix_robot-sim_balance is not set
# CONFIG_auto_generated_config_prefix_robot-engineer is not set
CONFIG_auto_generated_config_prefix_robot-wearlab_imu=y

#
# 组件
#

#
# 设备
#
# CONFIG_auto_generated_config_prefix_device-servo is not set
# CONFIG_auto_generated_config_prefix_device-simulator is not set
# CONFIG_auto_generated_config_prefix_device-cap is not set
# CONFIG_auto_generated_config_prefix_device-led_rgb is not set
# CONFIG_auto_generated_config_prefix_device-referee is not set
# CONFIG_auto_generated_config_prefix_device-laser is not set
# CONFIG_auto_generated_config_prefix_device-custom_controller is not set
CONFIG_auto_generated_config_prefix_device-can=y
# CONFIG_auto_generated_config_prefix_device-motor is not set
CONFIG_auto_generated_config_prefix_device-bmi088=y
CONFIG_DEVICE_BMI088_TASK_STACK_DEPTH=256
# CONFIG_auto_generated_config_prefix_device-mech is not set
# CONFIG_auto_generated_config_prefix_device-buzzer is not set
# CONFIG_auto_generated_config_prefix_device-tof is not set
CONFIG_auto_generated_config_prefix_device-blink_led=y
# CONFIG_auto_generated_config_prefix_device-dr16 is not set
CONFIG_auto_generated_config_prefix_device-ahrs=y
CONFIG_DEVICE_AHRS_TASK_STACK_DEPTH=256
# CONFIG_auto_generated_config_prefix_device-ai is not set
# CONFIG_auto_generated_config_prefix_device-net_config is not set
CONFIG_auto_generated_config_prefix_device-wearlab=y
CONFIG_auto_generated_config_prefix_device-imu=y
CONFIG_DEVICE_CAN_IMU_TASK_STACK_DEPTH=256
# CONFIG_auto_generated_config_prefix_device-microswitch is not set
# end of 设备

#
# 模块
#
# CONFIG_auto_generated_config_prefix_module-gimbal is not set
# CONFIG_auto_generated_config_prefix_module-balance is not set
# CONFIG_auto_generated_config_prefix_module-chassis is not set
# CONFIG_auto_generated_config_prefix_module-dart_launcher is not set
# CONFIG_auto_generated_config_prefix_module-uart_udp_client is not set
# CONFIG_auto_generated_config_prefix_module-ble_net_config is not set
# CONFIG_auto_generated_config_prefix_module-engineer_chassis is not set
# CONFIG_auto_generated_config_prefix_module-launcher is not set
# CONFIG_auto_generated_config_prefix_module-custom_controller is not set
# CONFIG_auto_generated_config_prefix_module-ore_collect is not set
# CONFIG_auto_generated_config_prefix_module-can_usart is not set
# CONFIG_auto_generated_config_prefix_module-free_gimbal is not set
# CONFIG_auto_generated_config_prefix_module-uart_udp is not set
# CONFIG_auto_generated_config_prefix_module-can_imu_wearlab is not set
CONFIG_MODULE_CAN_IMU_TASK_STACK_DEPTH=256
# CONFIG_auto_generated_config_prefix_module-topic_share_uart is not set
# CONFIG_auto_generated_config_prefix_module-microswitch is not set
CONFIG_auto_generated_config_prefix_module-can_imu=y
# CONFIG_auto_generated_config_prefix_module-wheel_leg is not set
# CONFIG_auto_generated_config_prefix_module-dart_gimbal is not set
# end of 模块
