# CONFIG_auto_generated_config_prefix_node_imu is not set
CONFIG_auto_generated_config_prefix_MiniPC=y
# CONFIG_auto_generated_config_prefix_rm-c is not set
# CONFIG_auto_generated_config_prefix_FreeRTOS is not set
CONFIG_auto_generated_config_prefix_Linux=y
# CONFIG_auto_generated_config_prefix_balance_infantry is not set
CONFIG_auto_generated_config_prefix_simulator=y
# CONFIG_auto_generated_config_prefix_infantry is not set
# CONFIG_auto_generated_config_prefix_blink is not set
# CONFIG_auto_generated_config_prefix_wearlab_imu is not set

#
# 设备/device
#
# CONFIG_auto_generated_config_prefix_servo is not set
# CONFIG_auto_generated_config_prefix_cap is not set
# CONFIG_auto_generated_config_prefix_led_rgb is not set
# CONFIG_auto_generated_config_prefix_referee is not set
# CONFIG_auto_generated_config_prefix_laser is not set
# CONFIG_auto_generated_config_prefix_can is not set
# CONFIG_auto_generated_config_prefix_motor is not set
# CONFIG_auto_generated_config_prefix_bmi088 is not set
# CONFIG_auto_generated_config_prefix_buzzer is not set
# CONFIG_auto_generated_config_prefix_tof is not set
# CONFIG_auto_generated_config_prefix_blink_led is not set
# CONFIG_auto_generated_config_prefix_dr16 is not set
# CONFIG_auto_generated_config_prefix_ai is not set
# CONFIG_auto_generated_config_prefix_wearlab is not set
# CONFIG_auto_generated_config_prefix_imu is not set
# end of 设备/device

#
# 模块/module
#
# CONFIG_auto_generated_config_prefix_gimbal is not set
# CONFIG_auto_generated_config_prefix_balance is not set
# CONFIG_auto_generated_config_prefix_chassis is not set
# CONFIG_auto_generated_config_prefix_launcher is not set
# CONFIG_auto_generated_config_prefix_can_imu is not set
# CONFIG_auto_generated_config_prefix_wheel_leg is not set
# end of 模块/module
