choice
    prompt "机器人型号"
    default RB_WHELL_LEG

    config RB_WHELL_LEG
        bool "轮腿平衡步兵"

    config RB_BALANCE
        bool "无腿平衡步兵"

    config RB_INFANTRY
        bool "麦轮步兵"

    config RB_SENTRY
        bool "哨兵"

    config RB_HERO
        bool "麦轮英雄"

    config RB_ENGINEER
        bool "麦轮工程"

    config RB_DART
        bool "飞镖"

    config RB_RADAR
        bool "雷达"
endchoice
