menu "硬件平台"

source "../hw/bsp/Kconfig"

choice
    prompt "操作系统"
    default OS_FREERTOS

    config OS_FREERTOS
        bool "FreeRTOS" if BOARD_DEV_C

    config OS_Linux
        bool "Linux" if BOARD_NX

    config OS_CUSTOM
        bool "CUSTOM"
endchoice

endmenu
