CONFIG_auto_generated_config_prefix_board-dual_canfd=y
# CONFIG_auto_generated_config_prefix_board-atom_bl is not set
# CONFIG_auto_generated_config_prefix_board-esp32-c3-idf is not set
# CONFIG_auto_generated_config_prefix_board-mangopi_r818 is not set
# CONFIG_auto_generated_config_prefix_board-c-mini is not set
# CONFIG_auto_generated_config_prefix_board-atom is not set
# CONFIG_auto_generated_config_prefix_board-node_imu is not set
# CONFIG_auto_generated_config_prefix_board-esp32-c3-arduino is not set
# CONFIG_auto_generated_config_prefix_board-f103_can is not set
# CONFIG_auto_generated_config_prefix_board-MiniPC is not set
# CONFIG_auto_generated_config_prefix_board-rm-c is not set
# CONFIG_auto_generated_config_prefix_board-microswitch is not set
# CONFIG_auto_generated_config_prefix_board-Webots is not set
# CONFIG_auto_generated_config_prefix_system-Linux_Webots is not set
# CONFIG_auto_generated_config_prefix_system-FreeRTOS is not set
CONFIG_auto_generated_config_prefix_system-None=y
# CONFIG_auto_generated_config_prefix_system-Linux is not set
# CONFIG_auto_generated_config_prefix_robot-udp_to_uart is not set
# CONFIG_auto_generated_config_prefix_robot-hero is not set
# CONFIG_auto_generated_config_prefix_robot-canfd_imu is not set
# CONFIG_auto_generated_config_prefix_robot-balance_infantry is not set
# CONFIG_auto_generated_config_prefix_robot-sentry is not set
# CONFIG_auto_generated_config_prefix_robot-uart_net_config is not set
# CONFIG_auto_generated_config_prefix_robot-dart is not set
# CONFIG_auto_generated_config_prefix_robot-ble_net_config is not set
# CONFIG_auto_generated_config_prefix_robot-can_to_uart is not set
# CONFIG_auto_generated_config_prefix_robot-custom_controller is not set
# CONFIG_auto_generated_config_prefix_robot-infantry is not set
# CONFIG_auto_generated_config_prefix_robot-sim_mecanum is not set
CONFIG_auto_generated_config_prefix_robot-blink=y
# CONFIG_auto_generated_config_prefix_robot-microswitch is not set
# CONFIG_auto_generated_config_prefix_robot-sim_balance is not set
# CONFIG_auto_generated_config_prefix_robot-engineer is not set
# CONFIG_auto_generated_config_prefix_robot-wearlab_imu is not set

#
# 组件
#

#
# 设备
#
# CONFIG_auto_generated_config_prefix_device-servo is not set
# CONFIG_auto_generated_config_prefix_device-simulator is not set
# CONFIG_auto_generated_config_prefix_device-cap is not set
# CONFIG_auto_generated_config_prefix_device-led_rgb is not set
# CONFIG_auto_generated_config_prefix_device-referee is not set
# CONFIG_auto_generated_config_prefix_device-laser is not set
# CONFIG_auto_generated_config_prefix_device-custom_controller is not set
# CONFIG_auto_generated_config_prefix_device-can is not set
# CONFIG_auto_generated_config_prefix_device-motor is not set
# CONFIG_auto_generated_config_prefix_device-ahrs-9 is not set
# CONFIG_auto_generated_config_prefix_device-mmc5603 is not set
# CONFIG_auto_generated_config_prefix_device-bmi088 is not set
# CONFIG_auto_generated_config_prefix_device-mech is not set
# CONFIG_auto_generated_config_prefix_device-buzzer is not set
# CONFIG_auto_generated_config_prefix_device-tof is not set
CONFIG_auto_generated_config_prefix_device-blink_led=y
# CONFIG_auto_generated_config_prefix_device-icm42688 is not set
# CONFIG_auto_generated_config_prefix_device-dr16 is not set
# CONFIG_auto_generated_config_prefix_device-ahrs is not set
# CONFIG_auto_generated_config_prefix_device-ai is not set
# CONFIG_auto_generated_config_prefix_device-net_config is not set
# CONFIG_auto_generated_config_prefix_device-wearlab is not set
# CONFIG_auto_generated_config_prefix_device-imu is not set
# CONFIG_auto_generated_config_prefix_device-microswitch is not set
# end of 设备

#
# 模块
#
# CONFIG_auto_generated_config_prefix_module-gimbal is not set
# CONFIG_auto_generated_config_prefix_module-balance is not set
# CONFIG_auto_generated_config_prefix_module-chassis is not set
# CONFIG_auto_generated_config_prefix_module-dart_launcher is not set
CONFIG_auto_generated_config_prefix_module-performance=y
# CONFIG_auto_generated_config_prefix_module-uart_udp_client is not set
# CONFIG_auto_generated_config_prefix_module-ble_net_config is not set
# CONFIG_auto_generated_config_prefix_module-engineer_chassis is not set
# CONFIG_auto_generated_config_prefix_module-launcher is not set
# CONFIG_auto_generated_config_prefix_module-custom_controller is not set
# CONFIG_auto_generated_config_prefix_module-ore_collect is not set
# CONFIG_auto_generated_config_prefix_module-can_usart is not set
# CONFIG_auto_generated_config_prefix_module-free_gimbal is not set
# CONFIG_auto_generated_config_prefix_module-uart_udp is not set
# CONFIG_auto_generated_config_prefix_module-can_imu_wearlab is not set
# CONFIG_auto_generated_config_prefix_module-topic_share_uart is not set
# CONFIG_auto_generated_config_prefix_module-microswitch is not set
# CONFIG_auto_generated_config_prefix_module-can_imu is not set
# CONFIG_auto_generated_config_prefix_module-wheel_leg is not set
# CONFIG_auto_generated_config_prefix_module-dart_gimbal is not set
# CONFIG_auto_generated_config_prefix_module-wl_uart_udp is not set
# end of 模块
