# CONFIG_auto_generated_config_prefix_board-c-mini is not set
# CONFIG_auto_generated_config_prefix_board-dual_canfd is not set
# CONFIG_auto_generated_config_prefix_board-esp32-c3-arduino is not set
# CONFIG_auto_generated_config_prefix_board-esp32-c3-idf is not set
# CONFIG_auto_generated_config_prefix_board-f103_can is not set
# CONFIG_auto_generated_config_prefix_board-mangopi_r818 is not set
# CONFIG_auto_generated_config_prefix_board-microswitch is not set
# CONFIG_auto_generated_config_prefix_board-MiniPC is not set
# CONFIG_auto_generated_config_prefix_board-MiniPC_with_canfd is not set
# CONFIG_auto_generated_config_prefix_board-node_imu is not set
CONFIG_auto_generated_config_prefix_board-rm-c=y
# CONFIG_auto_generated_config_prefix_board-Webots is not set
# CONFIG_auto_generated_config_prefix_system-Bootloader is not set
CONFIG_auto_generated_config_prefix_system-FreeRTOS=y
# CONFIG_auto_generated_config_prefix_system-Linux is not set
# CONFIG_auto_generated_config_prefix_system-Linux_Webots is not set
# CONFIG_auto_generated_config_prefix_system-None is not set

#
# FreeRTOS
#
CONFIG_INIT_TASK_STACK_DEPTH=2048
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=512
CONFIG_FREERTOS_USB_TASK_STACK_DEPTH=256
CONFIG_FREERTOS_TERM_TASK_STACK_DEPTH=512
# end of FreeRTOS

# CONFIG_auto_generated_config_prefix_robot-balance_infantry is not set
# CONFIG_auto_generated_config_prefix_robot-ble_net_config is not set
# CONFIG_auto_generated_config_prefix_robot-blink is not set
# CONFIG_auto_generated_config_prefix_robot-bootloader is not set
# CONFIG_auto_generated_config_prefix_robot-canfd_to_uart is not set
# CONFIG_auto_generated_config_prefix_robot-can_to_uart is not set
# CONFIG_auto_generated_config_prefix_robot-custom_controller is not set
# CONFIG_auto_generated_config_prefix_robot-dart is not set
CONFIG_auto_generated_config_prefix_robot-drone_gimbal=y
# CONFIG_auto_generated_config_prefix_robot-engineer is not set
# CONFIG_auto_generated_config_prefix_robot-helm_infantry is not set
# CONFIG_auto_generated_config_prefix_robot-hero is not set
# CONFIG_auto_generated_config_prefix_robot-infantry is not set
# CONFIG_auto_generated_config_prefix_robot-microswitch is not set
# CONFIG_auto_generated_config_prefix_robot-sentry is not set
# CONFIG_auto_generated_config_prefix_robot-sim_balance is not set
# CONFIG_auto_generated_config_prefix_robot-sim_mecanum is not set
# CONFIG_auto_generated_config_prefix_robot-uart_net_config is not set
# CONFIG_auto_generated_config_prefix_robot-udp_to_uart is not set
# CONFIG_auto_generated_config_prefix_robot-wearlab_imu is not set

#
# 组件
#

#
# 设备
#
CONFIG_auto_generated_config_prefix_device-ahrs=y
CONFIG_DEVICE_AHRS_TASK_STACK_DEPTH=256
# CONFIG_auto_generated_config_prefix_device-ahrs-9 is not set
CONFIG_auto_generated_config_prefix_device-ai=y
CONFIG_DEVICE_AI_TASK_STACK_DEPTH=384

#
# 上位机
#
# CONFIG_HOST_CTRL_PRIORITY is not set
# end of 上位机

# CONFIG_auto_generated_config_prefix_device-blink_led is not set
CONFIG_auto_generated_config_prefix_device-bmi088=y
CONFIG_DEVICE_BMI088_TASK_STACK_DEPTH=256
# CONFIG_auto_generated_config_prefix_device-bq27220 is not set
# CONFIG_auto_generated_config_prefix_device-buzzer is not set
CONFIG_auto_generated_config_prefix_device-can=y
# CONFIG_auto_generated_config_prefix_device-canfd is not set
CONFIG_auto_generated_config_prefix_device-cap=y
CONFIG_DEVICE_CAP_TASK_STACK_DEPTH=256

#
# 超级电容
#
CONFIG_CAP_PERCENT_NO_LIM=80
CONFIG_CAP_PERCENT_WORK=30
CONFIG_CAP_MAX_LOAD=100
# end of 超级电容

# CONFIG_auto_generated_config_prefix_device-custom_controller is not set
CONFIG_auto_generated_config_prefix_device-dr16=y
CONFIG_DEVICE_DR16_TASK_STACK_DEPTH=384
# CONFIG_auto_generated_config_prefix_device-icm42688 is not set
CONFIG_auto_generated_config_prefix_device-imu=y
CONFIG_DEVICE_CAN_IMU_TASK_STACK_DEPTH=256
# CONFIG_auto_generated_config_prefix_device-ina226 is not set
# CONFIG_auto_generated_config_prefix_device-laser is not set
CONFIG_auto_generated_config_prefix_device-led_rgb=y
CONFIG_DEVICE_LED_RGB_TASK_STACK_DEPTH=128
# CONFIG_auto_generated_config_prefix_device-mech is not set
# CONFIG_auto_generated_config_prefix_device-microswitch is not set
# CONFIG_auto_generated_config_prefix_device-mmc5603 is not set
CONFIG_auto_generated_config_prefix_device-motor=y
# CONFIG_auto_generated_config_prefix_device-net_config is not set
CONFIG_auto_generated_config_prefix_device-referee=y
CONFIG_DEVICE_REF_TRANS_TASK_STACK_DEPTH=256
CONFIG_DEVICE_REF_RECV_TASK_STACK_DEPTH=256

#
# 裁判系统
#
# CONFIG_REF_VIRTUAL is not set
CONFIG_REF_LAUNCH_SPEED=30
CONFIG_REF_HEAT_LIMIT_17=100
CONFIG_REF_HEAT_LIMIT_42=100
CONFIG_REF_POWER_LIMIT=200
CONFIG_REF_POWER_BUFF=100
# end of 裁判系统

#
# 操作手UI
#
CONFIG_UI_DYNAMIC_CYCLE=20
CONFIG_UI_STATIC_CYCLE=1000
# end of 操作手UI

CONFIG_auto_generated_config_prefix_device-servo=y
# CONFIG_auto_generated_config_prefix_device-simulator is not set
# CONFIG_auto_generated_config_prefix_device-spl06_001 is not set
# CONFIG_auto_generated_config_prefix_device-tof is not set
# end of 设备

#
# 模块
#
# CONFIG_auto_generated_config_prefix_module-balance is not set
# CONFIG_auto_generated_config_prefix_module-ble_net_config is not set
# CONFIG_auto_generated_config_prefix_module-canfd_to_uart is not set
# CONFIG_auto_generated_config_prefix_module-can_imu is not set
# CONFIG_auto_generated_config_prefix_module-can_imu_wearlab is not set
# CONFIG_auto_generated_config_prefix_module-can_usart is not set
CONFIG_auto_generated_config_prefix_module-chassis=y
CONFIG_MODULE_CHASSIS_TASK_STACK_DEPTH=384
# CONFIG_auto_generated_config_prefix_module-custom_controller is not set
# CONFIG_auto_generated_config_prefix_module-dart_gimbal is not set
# CONFIG_auto_generated_config_prefix_module-dart_launcher is not set
# CONFIG_auto_generated_config_prefix_module-engineer_chassis is not set
CONFIG_auto_generated_config_prefix_module-gimbal=y
CONFIG_MODULE_GIMBAL_TASK_STACK_DEPTH=512
# CONFIG_auto_generated_config_prefix_module-helm_chassis is not set
# CONFIG_auto_generated_config_prefix_module-launcher is not set
CONFIG_auto_generated_config_prefix_module-launcher_drone=y
# CONFIG_auto_generated_config_prefix_module-microswitch is not set
# CONFIG_auto_generated_config_prefix_module-ore_collect is not set
# CONFIG_auto_generated_config_prefix_module-performance is not set
# CONFIG_auto_generated_config_prefix_module-topic_share_uart is not set
# CONFIG_auto_generated_config_prefix_module-uart_update is not set
# CONFIG_auto_generated_config_prefix_module-wheel_leg is not set
# end of 模块
