# CONFIG__SUB_CFG_wear_lab_node is not set
CONFIG__SUB_CFG_rm-c=y
# CONFIG__SUB_CFG_balance_infantry is not set
CONFIG__SUB_CFG_infantry=y
# CONFIG__SUB_CFG_wearlab_imu is not set

#
# 设备/device
#

#
# servo
#
CONFIG__SUB_CFG_servo=y
# end of servo

#
# cap
#
CONFIG__SUB_CFG_cap=y

#
# 超级电容
#
CONFIG_CAP_PERCENT_NO_LIM=80
CONFIG_CAP_PERCENT_WORK=30
CONFIG_CAP_MAX_LOAD=100
# end of 超级电容
# end of cap

#
# referee
#
CONFIG__SUB_CFG_referee=y

#
# 裁判系统
#
# CONFIG_REF_VIRTUAL is not set
CONFIG_REF_LAUNCH_SPEED=30
CONFIG_REF_HEAT_LIMIT_17=100
CONFIG_REF_HEAT_LIMIT_42=100
CONFIG_REF_POWER_LIMIT=200
CONFIG_REF_POWER_BUFF=100
# end of 裁判系统

#
# 操作手UI
#
CONFIG_UI_DYNAMIC_CYCLE=20
CONFIG_UI_STATIC_CYCLE=1000
# end of 操作手UI
# end of referee

#
# laser
#
CONFIG__SUB_CFG_laser=y
# end of laser

#
# can
#
CONFIG__SUB_CFG_can=y
# end of can

#
# motor
#
CONFIG__SUB_CFG_motor=y
# end of motor

#
# bmi088
#
CONFIG__SUB_CFG_bmi088=y
# end of bmi088

#
# led
#
CONFIG__SUB_CFG_led=y
# end of led

#
# buzzer
#
CONFIG__SUB_CFG_buzzer=y
# end of buzzer

#
# term
#
CONFIG__SUB_CFG_term=y
# end of term

#
# tof
#
CONFIG__SUB_CFG_tof=y
# end of tof

#
# dr16
#
CONFIG__SUB_CFG_dr16=y
# end of dr16

#
# ai
#
CONFIG__SUB_CFG_ai=y

#
# 上位机
#
# CONFIG_HOST_CTRL_PRIORITY is not set
# end of 上位机
# end of ai
# end of 设备/device

#
# 模块/module
#

#
# gimbal
#
CONFIG__SUB_CFG_gimbal=y
# end of gimbal

#
# balance
#
# CONFIG__SUB_CFG_balance is not set
# end of balance

#
# chassis
#
CONFIG__SUB_CFG_chassis=y
# end of chassis

#
# launcher
#
CONFIG__SUB_CFG_launcher=y
# end of launcher

#
# can_imu
#
# CONFIG__SUB_CFG_can_imu is not set
# end of can_imu

#
# wheel_leg
#
# CONFIG__SUB_CFG_wheel_leg is not set
# end of wheel_leg
# end of 模块/module
