CONFIG_auto_generated_config_prefix_rm-c=y
# CONFIG_auto_generated_config_prefix_wear_lab_node is not set
CONFIG_auto_generated_config_prefix_FreeRTOS=y
# CONFIG_auto_generated_config_prefix_balance_infantry is not set
CONFIG_auto_generated_config_prefix_wearlab_imu=y
# CONFIG_auto_generated_config_prefix_infantry is not set

#
# 设备/device
#
# CONFIG_auto_generated_config_prefix_servo is not set
# CONFIG_auto_generated_config_prefix_dr16 is not set
CONFIG_auto_generated_config_prefix_bmi088=y
# CONFIG_auto_generated_config_prefix_term is not set
CONFIG_auto_generated_config_prefix_can=y
# CONFIG_auto_generated_config_prefix_laser is not set
CONFIG_auto_generated_config_prefix_led=y
# CONFIG_auto_generated_config_prefix_buzzer is not set
CONFIG_auto_generated_config_prefix_imu=y
# CONFIG_auto_generated_config_prefix_tof is not set
# CONFIG_auto_generated_config_prefix_motor is not set
# CONFIG_auto_generated_config_prefix_ai is not set
# CONFIG_auto_generated_config_prefix_referee is not set
# CONFIG_auto_generated_config_prefix_cap is not set
# end of 设备/device

#
# 模块/module
#
CONFIG_auto_generated_config_prefix_can_imu=y
CONFIG_IMU_SEND_CAN_ID=30
CONFIG_IMU_SEND_FREQ=500
CONFIG_IMU_SEND_ACCL=y
CONFIG_IMU_SEND_GYRO=y
CONFIG_IMU_SEND_EULR=y
# CONFIG_auto_generated_config_prefix_chassis is not set
# CONFIG_auto_generated_config_prefix_gimbal is not set
# CONFIG_auto_generated_config_prefix_balance is not set
# CONFIG_auto_generated_config_prefix_launcher is not set
# CONFIG_auto_generated_config_prefix_wheel_leg is not set
# end of 模块/module
