# CONFIG_auto_generated_config_prefix_wear_lab_node is not set
CONFIG_auto_generated_config_prefix_rm-c=y
# CONFIG_auto_generated_config_prefix_balance_infantry is not set
# CONFIG_auto_generated_config_prefix_infantry is not set
CONFIG_auto_generated_config_prefix_wearlab_imu=y

#
# 设备/device
#

#
# servo
#
# CONFIG_auto_generated_config_prefix_servo is not set
# end of servo

#
# cap
#
# CONFIG_auto_generated_config_prefix_cap is not set
# end of cap

#
# referee
#
# CONFIG_auto_generated_config_prefix_referee is not set
# end of referee

#
# laser
#
# CONFIG_auto_generated_config_prefix_laser is not set
# end of laser

#
# can
#
CONFIG_auto_generated_config_prefix_can=y
# end of can

#
# motor
#
# CONFIG_auto_generated_config_prefix_motor is not set
# end of motor

#
# bmi088
#
CONFIG_auto_generated_config_prefix_bmi088=y
# end of bmi088

#
# led
#
CONFIG_auto_generated_config_prefix_led=y
# end of led

#
# buzzer
#
# CONFIG_auto_generated_config_prefix_buzzer is not set
# end of buzzer

#
# term
#
# CONFIG_auto_generated_config_prefix_term is not set
# end of term

#
# tof
#
# CONFIG_auto_generated_config_prefix_tof is not set
# end of tof

#
# dr16
#
# CONFIG_auto_generated_config_prefix_dr16 is not set
# end of dr16

#
# ai
#
# CONFIG_auto_generated_config_prefix_ai is not set
# end of ai

#
# imu
#
CONFIG_auto_generated_config_prefix_imu=y
# end of imu
# end of 设备/device

#
# 模块/module
#

#
# gimbal
#
# CONFIG_auto_generated_config_prefix_gimbal is not set
# end of gimbal

#
# balance
#
# CONFIG_auto_generated_config_prefix_balance is not set
# end of balance

#
# chassis
#
# CONFIG_auto_generated_config_prefix_chassis is not set
# end of chassis

#
# launcher
#
# CONFIG_auto_generated_config_prefix_launcher is not set
# end of launcher

#
# can_imu
#
CONFIG_auto_generated_config_prefix_can_imu=y
CONFIG_IMU_SEND_CAN_ID=30
CONFIG_IMU_SEND_FREQ=500
CONFIG_IMU_SEND_ACCL=y
CONFIG_IMU_SEND_GYRO=y
CONFIG_IMU_SEND_EULR=y
# end of can_imu

#
# wheel_leg
#
# CONFIG_auto_generated_config_prefix_wheel_leg is not set
# end of wheel_leg
# end of 模块/module
