
menu "机器人参数"

choice
    prompt "功率限制"
    default POWER_LIMIT_WITH_CAP

    config POWER_LIMIT_WITH_CAP
        bool "有超级电容的功率限制" if ID_HERO || ID_INFANTRY

    config POWER_LIMIT
        bool "功率限制" if ID_SENTRY

    config POWER_UNLIMIT
        bool "功率无限制" if ID_ENGINEER || ID_DART || ID_RADAR
endchoice

choice
    prompt "UI模式"
    default UI_MODE_OP

    config UI_MODE_OP
        bool "操作手模式" if ID_HERO || ID_INFANTRY || ID_ENGINEER

    config UI_MODE_REMOTE
        bool "远控模式" if ID_SENTRY

    config UI_MODE_NONE
        bool "无UI" if ID_DART || ID_DART || ID_RADAR
endchoice

choice
    prompt "控制方式"
    default CTRL_MODE_OP

    config CTRL_MODE_OP
        bool "操作手控制" if ID_HERO || ID_INFANTRY || ID_ENGINEER  || ID_DART || ID

    config CTRL_MODE_AUTO
        bool "自动控制"
endchoice

if POWER_LIMIT_WITH_CAP

menu "超级电容"
config CAP_PERCENT_NO_LIM
    int "底盘不再限制功率的电容电量"
    range 0 100
    default 80

config CAP_PERCENT_WORK
    int "电容开始工作的电容电量"
    range 0 100
    default 30

config CAP_MAX_LOAD
    int "电容能够提供的最大功率"
    range 0 300
    default 100
endmenu

endif

if ID_SENTRY
menu "哨兵扫描参数"

config GIM_SCAN_ANGLE_BASE
    int "哨兵守家扫描角度"
    range 0 180
    default 80

config GIM_SCAN_YAW_SPEED
    int "哨兵YAW轴扫描速度"
    range 0 300
    default 80

config GIM_SCAN_PIT_SPEED
    int "哨兵PIT轴扫描速度"
    range 0 300
    default 80

config GIM_SCAN_CRITICAL_ERR
    int "哨兵变向临界值"
    range 0 20
    default 5

endmenu

endif

if UI_MODE_OP || UI_MODE_REMOTE

menu "操作手UI"

config UI_DYNAMIC_CYCLE
    int "动态元素刷新周期"
    range 1 1000
    default 50

config UI_STATIC_CYCLE
    int "静态元素刷新周期"
    range 100 10000
    default 1000

endmenu

endif

endmenu
