menu "编译工具链"

choice
    prompt "工具链"
    default TC_ARM_NONE_EABI

    config TC_ARM_NONE_EABI
        bool "arm-none-eabi-" if BOARD_DEV_C

    config TC_ARM64_LINUX_GNUEABIHF
        bool "arm64-linux-gnueabihf" if BOARD_NX
endchoice

config TC_CLANG
	tristate "使用clang作为编译器" if TC_ARM_NONE_EABI

endmenu
